

/* COULEURS */

.palette-de-couleurs {
    background-color: #AF9E9E;
    background-color: black;
    background-color: white;
    background-color: #333;
    background-color: #0071e3;

    color: black;
    color: white;

    background: linear-gradient(90deg, rgba(2,0,36,1) 19%, rgba(175,158,158,1) 40%);

    font-family: 'DynaPuff', cursive;
    font-family: 'Inspiration', cursive;
}

    @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inconsolata:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&family=Inspiration&display=swap');